.app {
  background: #209cee;
  height: 100vh;
  padding: 30px;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  max-width: 400px;
  padding: 5px;
  margin: 10px;  /* and that, will result in a 10px gap */
}

.todo {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}

.song-list-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.song-list-wrapper {
  position: relative;
  max-width: 800;
  margin: auto; 
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.close-btn:active { 
  transform: scale(0.98); 
  /* Scaling button to 0.98 to its original size */ 
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
  /* Lowering the shadow */ 
}

.close-btn-icon {
  color: red;
  font-size: 25px;
}

.add-btn {
  text-decoration: none; 
  border: none; 
  padding: 12px 40px; 
  font-size: 16px; 
  background-color: green; 
  color: #fff; 
  border-radius: 5px; 
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
  cursor: pointer; 
  outline: none; 
  transition: 0.2s all; 
} 

/* Adding transformation when the button is active */ 
.add-btn:active { 
  transform: scale(0.98); 
  /* Scaling button to 0.98 to its original size */ 
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
  /* Lowering the shadow */ 
} 
/*
.container {
  border: 1px solid rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 40%;
  border-radius: 4px;
  min-height: 100px;
  margin: 7% auto;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: saturate(180%) blur(10px);
}

.body {
  width: 80%;
  padding: 15px 8px;
  text-align: center;
}
form {
  padding: 5px;
  text-align: center;
}
.todo-form {
  text-align: center;
}
label {
  padding: 5px;
  letter-spacing: 1px;
}
input {
  border-radius: 4px;
  border: 1px solid grey;
}

.todo {
  padding: 5px 10px;
  border: 1px solid #000;
}

.todo span {
  padding: 5px;
}
.todo button {
  float: right;
  margin-right: 15px;
  color: #000;
  background-color: transparent;
  padding: 3px 7;
  border: none;
  border: 1px solid black;
  border-radius: 2px;
  margin-top: 4px;
}
form button {
  color: #000;
  background-color: transparent;
  padding: 3px 7;
  border: none;
  border: 1px solid black;
  border-radius: 2px;
  margin-top: 4px;
}

.form-edit input {
  padding: 10px 5px;
  border-top: none;
  border-right: none;
  border-left: none;
}


#nav {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
}
#nav li {
	float: left;
}
#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #069;
  border-right: 1px solid #ccc;
}
#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #069;
  border-right: 1px solid #ccc;
}
*/