#app {
  background: #209cee;
  height: 100vh;
  padding: 30px;
}

#content {
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  max-width: 400px;
  padding: 5px;
  margin: 10px;  /* and that, will result in a 10px gap */
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;

  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  font-size: 12px;
}

.todo > span {
  word-wrap: break-word;
}

.song-list-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.song-list-wrapper {
  position: relative;
  margin: 5px; /* and that, will result in a 10px gap */

  max-width: 300px;
  background-color: #f4c983;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.close-btn:active { 
  transform: scale(0.98); 
  /* Scaling button to 0.98 to its original size */ 
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
  /* Lowering the shadow */ 
}

.close-btn-icon {
  color: red;
  font-size: 25px;
}

.add-btn {
  /* Add up to 300px - same size as SongList item*/
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 102px;
  margin-right: 102px;

  text-decoration: none; 
  border: none; 
  cursor: pointer; 
  outline: none; 
  transition: 0.2s all; 
  
  padding: 12px 40px; 
  border-radius: 5px; 
  font-size: 16px; 
  background-color: green; 
  color: #fff; 
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
} 

/* Adding transformation when the button is active */ 
.add-btn:active { 
  transform: scale(0.98); 
  /* Scaling button to 0.98 to its original size */ 
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
  /* Lowering the shadow */ 
} 